@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 5px solid red;
}
.icon:hover > svg {
  fill: green;
}
